* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: blue;
}

body {
    min-height: 100vh;
    display: grid;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b39a9a;
    height: max-content;
    width: 100%;
    gap: 20PX;
    padding: 20px;

}

.Container {
    display: flex;
    padding: 20px;
    margin: 20px;
    height: max-content;
    width: 90vw;
    gap: 20px;
    background-color: #9aa8b3;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

.Container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: calc((100% - 40px) / 3);
    height: 300px;
    transition: border-radius 0.5s ease-in-out;
    gap: 20px;
    background-color: green
}
.Container .box:hover {
    border-radius: 50%;
}

section{
background-color: rgb(125, 139, 0);
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
    
}

.Container .box:first-child {
    background-color: #f00;
}
.Container .box:last-child {
    background-color: #ff0;
}
.container .box:nth-child(odd){
    background-color: rgb(255, 72, 0);
}
